header{
    height:50px;
    color:black;
    background-color: antiquewhite;
    padding-left: 50px;
}
main{
    height:222px;
    color:black;
    background-color: rgb(228, 138, 21);
    padding-left: 50px;
    margin:50px;
    box-sizing: border-box;
    
}

footer
{
    
    color:black;
    background-color: antiquewhite;
    padding-left: 50px;
    margin:20px;
}
